<%= form_for(route) do |f| %>
  <% if route.errors.any? %>
    <%= render 'common/errors', resource: @route %>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
