<h1>Новый Маршрут</h1>

<%= form_for(@route) do |f| %>
  <%= render 'common/errors', resource: @route %>
  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Назад', routes_path %>
